.form-done {
  width: 500px;
  background-color: rgba(232, 232, 232, 1);
}

.form_done_icon {
  font-size: 90px;
  height: 90px !important;
  width: 90px !important;
}

.login-contianer {
  width: 1040px;
}