.login-contianer {
  width: 485px;
  flex-shrink: 0;

  .login-card {
    background: #E8E8E8;
    border-radius: 30px;
  }
}

.country-selector {
  opacity: 1 !important;
}

ngx-mat-intl-tel-input div button {
  margin: 4px 0;
}
.active {
  background-color: #F97C00 !important;
  box-shadow: 0 0 5px rgba(249, 124, 0, 1) !important;
}

.stepper-item {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(205, 205, 205, 1);
  box-shadow: 0 0 5px rgb(192, 190, 187);
   span {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);    color: #fff;
    font-weight: bold;
   }
}

.step-arrow-active {
  color: #F97C00;
}

