<div class="flex justify-center items-center h-full w-full">
  <div class="login-contianer">
    <div class="mt-10 p-8 login-card ">
      <div class="text-5xl md:text-4xl sm:text-3xl font-extrabold tracking-tight leading-tight text-center">
        РЕГИСТРАЦИЯ</div>
     
      <form [formGroup]="signUpForm" class="mt-8" #signInNgForm="ngForm">

        <div class="form-width">
          <mat-form-field class="w-full">
            <mat-label>Телефон</mat-label> 
            <ngx-mat-intl-tel-input formControlName="phone" [preferredCountries]="['uz']" [onlyCountries]="['uz','kz','tj','kg','ru','af']"
               name="phone" #phone>
            </ngx-mat-intl-tel-input>
          </mat-form-field>
        </div>

        <button class="fuse-mat-button-large dark w-full mt-6" mat-flat-button [color]="'primary'"
          [disabled]="signUpForm.disabled" (click)="signUp()">
          <span *ngIf="!signUpForm.disabled">
            Отправить
          </span>
          <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

      </form>
    </div>
  </div>
</div>