<div class="flex justify-center items-center h-full w-full">
  <div class="login-contianer">
    <div class="mt-10 p-8 login-card ">
      <div class="text-5xl md:text-4xl sm:text-3xl font-extrabold tracking-tight leading-tight text-center">
        Сброс пароля</div>

      <form [formGroup]="form" class="mt-8" #ngForm="ngForm">

        <div class="form-width">
          <mat-form-field class="w-full">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" [formControlName]="'password'" #passwordField>
            <button mat-icon-button type="button"
              (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
              matSuffix>
              <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
              <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <mat-label>Подтвердите пароль</mat-label>
            <input matInput type="password" [formControlName]="'confirmPassword'" required #confirmPassword>
            <button mat-icon-button type="button"
              (click)="confirmPassword.type === 'password' ? confirmPassword.type = 'text' : confirmPassword.type = 'password'"
              matSuffix>
              <mat-icon class="icon-size-5" *ngIf="confirmPassword.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
              <mat-icon class="icon-size-5" *ngIf="confirmPassword.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
          </mat-form-field>
        </div>

        <button class="fuse-mat-button-large dark w-full mt-6" mat-flat-button [color]="'primary'" (click)="resetPassword()"
          [disabled]="form.disabled">
          <span *ngIf="!form.disabled">
            Сохранить
          </span>
          <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

        <div class="inline-flex items-center justify-between w-full mt-8">
          <a class="text-md font-medium m-auto" [routerLink]="['/auth/sign-in']">Авторизация
          </a>
        </div>

      </form>
    </div>
  </div>
</div>